<div class="container">
<div class="row">
<div class="col sm12"
<%= form_tag( "/dashboard/deck", method: "post") do %>
  <h4>Position:</h4>
  <%= text_field_tag (:position)%>
  <h4>Application Date</h4>
  <%= text_field_tag (:apply_date)%>
  <h4>Job Description URL</h4>
  <%= text_field_tag (:job_description_url)%>
  <h4>Company</h4>
  <h4>Department</h4>
  <%= text_field_tag (:department)%>
  <h4>Address</h4>
  <%= text_field_tag (:address)%>
  <h4>Salary Amount</h4>
  <%= text_field_tag (:comp_value)%>
    <p>
      <input name="salary" type="radio" id="annual" />
      <label for="annual">Annual</label>
    </p>
    <p>
      <input name="salary" type="radio" id="hourly" />
      <label for="hourly">Hourly</label>
    </p>
    <p>
      <input name="salary" type="radio" id="monthly" />
      <label for="monthly">Monthly</label>
    </p>
  <h4>Relocation</h4>
  <p>
    <input name="relo" type="radio" id="relo-yes" />
    <label for="relo-yes">Yes</label>
  </p>
  <p>
    <input name="relo" type="radio" id="relo-no" />
    <label for="relo-no">No</label>
  </p>
  <input>
  <h4>Contacts</h4>
  <h6>Contact 1:</h6>
    Name: <%= text_field_tag (:name)%>
    Number: <%= text_field_tag (:phone)%>
    Email: <%= text_field_tag (:email)%>
  <!-- Right now only one contact imports -->
  <h6>Contact 2:</h6>
    Name: <%= text_field_tag (:name)%>
    Number: <%= text_field_tag (:phone)%>
    Email: <%= text_field_tag (:email)%>
  <h4>Notes</h4>
  <%= text_field_tag (:title)%>
  <%= text_field_tag (:content)%>
  <%= hidden_field :user_id, :value => session[:user_id] %>
  </div>
  </div>
  <div class="row">
  <div class="col sm6 offset-s6">
  <button type="submit" class="waves-effect waves-light btn submit">Submit<i class="material-icons right">send</i></button>
<!-- </form> -->
<% end %>
  </div>
  </div>
</div>