<div id="scroll-it" class="color-layer">
  <div class="navbar-fixed">
    <nav class="nav">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Cappstone</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">ABOUT</a></li>
          <li><a class="waves-effect waves-light btn">Sign Up</a></li>
          <li><a class="waves-effect waves-light btn">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- Company Section -->
  <div class="scrollable-section" data-section-title="Company">
  </div>
  <section class="capp-well">
    <h1 class="section-main-header">Opportunity</h1>
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger edit-button-style" href="#modal1">Edit</a>
    <!-- Modal Structure -->
    <div id="modal1" class="modal ">
      <div class="modal-content">
        <form class="Company" action="">
          Position: <input type="text" name="position" placeholder="front end dev" value=""><br>
          Application Date: <input type="text" name="application-date" value=""><br>
          Job Description URL: <input type="text" name="job-description" value=""><br>
          Company: <input type="text" name="company" value=""><br>
          Department: <input type="text" name="department" value=""><br>
          Address: <input type="text" name="address" value=""><br>
          Salary Amount: <input type="text" name="salary-amount" value=""><br>
          Salary Type: <input type="text" name="salary-type" value=""><br>
          <p>
            <input name="salary" type="radio" id="annual" />
            <label for="annual">Annual</label>
          </p>
          <p>
            <input name="salary" type="radio" id="hourly" />
            <label for="hourly">Hourly</label>
          </p>
          <p>
            <input name="salary" type="radio" id="monthly" />
            <label for="monthly">Monthly</label>
          </p>
          Relocation Required:
          <p>
            <input name="relo" type="radio" id="relo-yes" />
            <label for="relo-yes">Yes</label>
          </p>
          <p>
            <input name="relo" type="radio" id="relo-no" />
            <label for="relo-no">No</label>
          </p>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <!-- Modal End -->
    <section class="row">
      <section class="left-float col s6">
        <h3 class="section-h3">Position:</h3>
        <h3 class="section-user-info">
          <% @jobs.each do |job| %>
            <%= job.position %>
          <% end %>
        <h3 class="section-h3">Application Date:</h3>
        <h3 class="section-user-info">
          <% @jobs.each do |job| %>
            <%= job.apply_date %>
          <% end %>
        </h3>
        <h3 class="section-h3">Job Description URL:</h3>
        <h3 class="section-user-info">
          <% @jobs.each do |job| %>
            <%= job.job_description_url %>
          <% end %>
        </h3>
        <h3 class="section-h3">Company:</h3>
        <h3 class="section-user-info">

        </h3>
      </section>
      <section class="right-float col s6">

        <h3 class="section-h3">Department:</h3>
        <h3 class="section-user-info">
          <% @jobs.each do |job| %>
            <%= job.department %>
          <% end %>
        </h3>
        <h3 class="section-h3">Address:</h3>
        <h3 class="section-user-info">
          <% @jobs.each do |job| %>
            <%= job.address %>
          <% end %>
        </h3>
        <h3 class="section-h3">Salary:</h3>
        <h3 class="section-user-info">
          <% @jobs.each do |job| %>
            <%= job.comp_value %>
          <% end %>
        </h3>
        <h3 class="section-h3">Relocation:</h3>
        <h3 class="section-user-info">
          <% @jobs.each do |job| %>
            <%= job.relocation %>
          <% end %>
        </h3>
      </section>
    </section>
  </section>
  <!-- Contacts Section -->
  <div class="scrollable-section" data-section-title="Contacts">
  </div>
  <section class="capp-well">
    <h1 class="section-main-header">Contacts</h1>
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger2 edit-button-style" href="#modal2">Add Contact</a>
    <!-- Modal Structure -->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <form class="Company" action="demo_form.asp">
          Name: <input type="text" name="name" value=""><br>
          Number: <input type="text" name="number" value=""><br>
          EMail: <input type="text" name="email" value=""><br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <!-- Modal End -->
    <h2 class="job-at-company">Job at Company</h2>
    <div class="container">
    <p class="section-user-info">
      <% @contacts.each do |contact| %>
        <%= contact.name %>
        <%= contact.phone %>
        <%= contact.email %>
      <% end %>
    </p>
  </section>
  <!-- Events -->
  <div class="scrollable-section" data-section-title="Events">
  </div>
  <section class="capp-well">
    <h1 class="section-main-header">Events</h1>
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger2 edit-button-style" href="#modal3">Add Event</a>
    <!-- Modal Structure -->
    <div id="modal3" class="modal">
      <div class="modal-content">
        <form class="Company" action="">
          Date: <input type="text" name="date" value=""><br>
          Event: <input type="text" name="event" value=""><br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <!-- Modal End -->
    <h2 class="job-at-company">Job at Company</h2>
    <p class="section-user-info">
      <% @events.each do |event| %>
        <%= event.title %>
        <%= event.description %>
        <%= event.address %>
      <% end %>
    </p>
  </section>
  <!-- Location -->
  <div class="scrollable-section" data-section-title="Location">
  </div>
  <section class="capp-well">
    <h1 class="section-main-header">Location</h1>
    <h2 class="job-at-company job-at-company-location">Job at Company</h2>

  </section>
  <!-- Notes -->
  <div class="scrollable-section" data-section-title="Notes">
  </div>
  <section class="capp-well">
    <h1 class="section-main-header">Notes</h1>
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger2 edit-button-style" href="#modal3">Add Note</a>
    <!-- Modal Structure -->
    <div id="modal3" class="modal">
      <div class="modal-content">
        <form class="Company" action="">
          Note: <input type="text" name="note" value=""><br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>

    <!-- Modal End -->

    <h2 class="job-at-company">Job at Company</h2>
    <p class="notes-p">

      <% @note.each do |note| %>
        <%= note.content %>
      <% end %>

    </p>
  </section>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#scroll-it').sectionScroll();
    $('.modal-trigger').leanModal();
    $('.modal-trigger2').leanModal();
  });
</script>


