<div class="row">

      <h1>Signup</h1>

  <%= form_for :user, :html => {:class =>'input-field col s6'} do |f| %>
  
	<%= f.email_field :email %>
  <%= label_tag( "Enter your email")%>
  
	<%= f.text_field :name %>
  <%= label_tag( "Enter your name")%>
  
	<%= f.password_field :password %>
  <%= label_tag( "Password")%>
  
	<%= f.password_field :password_confirmation %>
  <%= label_tag( "Confirm your password")%>

  <div class="col s4 offset-s6 login-btn">
  <%= f.submit 'Login', :class => 'btn waves-effect waves-light'%>
  </div>
<% end %>

</div>